@import "tailwindcss";

@theme inline {
  --color-background: #fff6f0;

  --color-sienna-300: #f6ac9a;
  --color-sienna-600: #ee6c4d;
  --color-gravy-gray-600: #595959;

  --font-body: var(--font-quattrocento-sans);
  --font-title: var(--font-rozha-one);
}
