@import "tailwindcss";

@theme inline {
  --color-background: #fff6f0;

  --color-sienna-300: #f6ac9a;
  --color-sienna-600: #ee6c4d;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
